@import 'unit.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Poppins:wght@300&family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Lato&family=Poppins:wght@300&family=Sora:wght@300&display=swap');
:root{
    --btn: #4717f6;
    --bg: #0e0816;
    --lik: #4a0664;
    --liht: #e7dfdd;
    --b-lit: #2a1a3f;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body{
    background: white;
}

html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* Responsive Menu */
.menu-ne{
    z-index: 11;
    margin-bottom: 4px;
}

.site-main-wrapper{
    background: var(--bg);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.hamberger{
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.hamberger img{
    width: 50px;
    color: white;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: var(--bg);
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.open{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.mobile-nav ul{
    list-style-type: none;
}

.mobile-nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.mobile-nav ul li a:hover{
    color: var(--btn);
}

.close{
    position: fixed;
    background: none;
    outline: none;
    top: 40px;
    right: 40px;
    border: none;
    cursor: pointer;
}

.close img{
    width: 40px;
}
/* nav style */
nav{
    padding: 0.6rem;
    background: var(--bg);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.main{
    margin: 0 auto; 
   max-width: 1150px;
}
nav .left{
    font-size: 30px;
    color:white;
}
nav .right a{
    text-decoration: none;
    margin: 0 0.5rem;
    color: white;
    font-size: 20px;
    transition: all 0.4s ease;
}

.right a:hover{
    color: var(--btn);
}

/* section style hero-st */
.hero-st{
    background: var(--bg);
    padding-bottom: 5rem;
}

section .hero-img img{
    margin-top: 5rem;
    margin-bottom: 1rem;
   align-items: center;
   width: 400px;
   background: white;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}
span{
    color: var(--btn);
}
.btn{
    padding: 0.4rem 1.2rem;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background: var(--btn);
    border-radius: 5px;
    transition: all .3s ease;
}
.btn:hover{
    background: var(--liht);
    color: var(--btn);
}

/* Dynamic Txt Code */
.wrapper{
    display: inline-flex;
    justify-content: center;
}

.dynamic-txt{
    overflow: hidden;
    line-height: 50px;
    height: 50px;
}

.dynamic-txt li{
    top: 0;
    font-size: 38px;
    list-style: none;
    margin-left: 1rem;
    position: relative;
    animation: slide 12s steps(4) infinite;
    -webkit-animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100%{
        top: -200px;
    }
}

.dynamic-txt li span{
    position: relative;
}

.dynamic-txt li span::after{
    content: '';
    position: absolute;
    height: 90%;
    width: 100%;
    left: 0;
    background: var(--bg);
    border-left: 2px solid var(--btn);
    animation: typing 3s steps(10) infinite;
    -webkit-animation: typing 3s steps(10) infinite;
}

@keyframes typing {
    40%,60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}
/* Section Projects */
.projects{
    background: var(--b-lit);
    padding-bottom: 5rem;
}

.pro-hd h2{
    margin: 0.8rem 0;
}

.card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
    column-gap: 2rem;
    row-gap: 4rem;
}

.card{
    background: var(--bg);
    padding: 2rem 3rem;
    padding-top: 3rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card img{
    width: 80px;
    position: absolute;
    background: white;
    padding: 1rem 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.card h2{
    color: var(--btn);
    margin-bottom: 6px;
    margin-top: 6px;
}

.card p{
    color: var(--liht);
}

.card a{
    color: rgb(0, 255, 0);
    font-size: 16px;
    text-decoration: underline solid rgb(0, 255, 0);
}

.card:hover{
    background-color: var(--lik);
}

/* Review Section Styling */
.review{
    padding-bottom: 2.3rem;
}

.re-hd{
    padding: 1.5rem;
}

.slide img{
    margin-bottom: 1.5rem;
    padding: 2rem;
}

.review .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}

.review .slider-dots{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.review .slider-dots button{
    font-size: 0;
    width: 16px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    background: rgb(153, 153, 153);
    border-radius: 50px;
    cursor: pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.review .dots li.slick-active button{
    background: var(--btn);
    width: 26px;
}
/* Art section styling */

.artwork{
    background: var(--bg);
    padding-bottom: 2rem;
}

.art-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin-top: 3rem;
}

.art-1 img{
    width: 400px;
    height: 500px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    margin-bottom: 1rem;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.art-1 img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* About section styling */
.about{
    background: rgb(197, 188, 188);
}

.abt-img{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 3rem 5rem;
    margin: 0 auto;
}

.abt-img img{
    width: 250px;
}

.about-txt{
    margin-left: 8rem;
}

/* Social media styling */
.social-abt{
    background: var(--btn);
    padding-top: 0.8rem;
}

.img-social{
    display: flex;
    justify-content: center;
    padding-bottom: 0.8rem;

}

.img-social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all 0.3s ease;
}

.img-social a:hover{
    background-color: #fff;
}

.img-social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

/* Slogan Styling */
.slogan{
    background: var(--b-lit);
    padding: 2rem;
}

.slog-st{
    align-items: center;
}

.slog-st h1{
    font-size: 100px;
    font-weight: 300;
}

.hap{
    margin-right: 8rem;
}

.cod{
    margin-left: 8rem;
}
/* Contact styling */
.contact{
    padding-top: 2rem;
    padding-bottom: 4rem;
    background: var(--bg);
}

.con-head{
    padding-bottom: 2rem;
}

.form{
    background: white;
    padding: 2rem 1.8rem;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.f-btn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    justify-content: space-between;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit], input[type=reset] {
      width: 100%;
      margin-top: 0;
    }
  }
.cp-size h1{
    font-size: 16px;
    color: rgb(197, 188, 188);
}

@media (max-width: 813px) {
    #main-nav{
        display: none;
    }
    .hero max-wid{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .card-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .art-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 1rem;
    }
    .art-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .art-1 img{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}

@media (max-width: 610px) {
    .card-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 2rem;
        padding-right: 2rem;   
    }
    .slog-st h1{
        margin-left: 0;
        margin-right: 0;
        font-size: 70px;
    }
    .art-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
    }
    .art-1 img{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
}

@media (max-width: 1000px) {
    .abt-img{
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .abt-img img{
        width: 100px;
        margin: 1rem;
    }
    .about-txt{
        text-align: center;
        margin-left: 0;
        margin-bottom: 2rem;
    }
}
